 {% extends "JPT/layout.html" %}
{%load static%}
{% block content %}

<div class="row">


    <div class="col-8 offset-2 overflow-auto" id="chatlog" style="background-color:white;height:75%">

        {% for msg in messageList %}

            <div class="container-fluid my-2">

                <div class="row">

                 <div class="col-1 position-relative">
                  <img src={{MEDIA_URL}}{{msg.author.ava.photo}} class="rounded-circle mt-2" style="width: 40px; height: 40px;" alt="">
                 </div>

                  <div class="col-10 text-wrap text-break">
                   {{msg.author.first_name}} {{msg.author.second_name}}
                  <div class="text">

                      {{msg.text}}
                      
                    {%for pht in msg.subphoto.all%}
                    <img src={{MEDIA_URL}}{{pht.photo}} class="rounded-3 shadow-sm m-1" style="width: 100px; height: 100px;" alt="">
                    {%endfor%}
                      
                   </div>
                  
                    </div>
                 

                </div>

              
            </div>

       
        {% endfor %}
        </div>

       

    </div>

<div class="row m-2" style=" height:5rem"  oninput="auto_resize(this)">

 <form action="" method="POST" class="col-8 offset-2 shadow-sm rounded-3 position-relative"  style="background-color:white" enctype="multipart/form-data">
    
      {% csrf_token %}
     <div class="container">
     <div class="row" style=" height:5rem">

     <div class="col-1 position-relative h-100">
       <img src={{MEDIA_URL}}{{persons.ava.photo}} class=" position-absolute top-50 start-50 translate-middle rounded-circle" style="width: 40px; height: 40px;" alt="">
     </div>

    <div class="col-9 position-relative h-100">{{message.text}}</div>

    <div class="col-2 position-relative h-100">

      <div class="col-12 position-relative">
      <label  for="photo"><i class="bi bi-camera2 position-absolute top-50 start-50 translate-middle"></i></label>
      </div>

      <div class="col-12 m-3">
      <button class="btn btn-primary btn-sm" name="submit">submit</button>
      </div>

    </div>
     </div>
     </div>
     <script src= {% static 'AutoIncrementTextArea.js' %} ></script>

       {{formpicture}}
          
  </form>

</div>

<script>
   
   
</script>

{% endblock %}

