{% extends "JPT/layout.html" %}

{% block content %}

<div class="row">

    <div class="col-8 offset-2 position-relative" style="height:42px">

        {% for dlg in dialogsList %}

        <a href="/dialogs/{{dlg.pk}}" type="button" class="row"  style="background-color:white">

            <div class="container-fluid m-2">

                <div class="row">
                    {%if dlg.listOfMembers.count == 2%}
                    {%if dlg.listOfMembers.first == persons.persons %}
                    <div class="col-1 my-auto">
                        <img src={{MEDIA_URL}}{{dlg.listOfMembers.last.user.persons.ava.photo}} class="rounded-circle my-auto" style="width: 40px; height: 40px;" alt="">
                    </div>

                    <div class="col-3">
                     {{dlg.listOfMembers.last.user.first_name}} {{dlg.listOfMembers.last.user.last_name}}
                    </div>

                      {%else%}
                    <div class="col-1">
                        <img src={{MEDIA_URL}}{{dlg.listOfMembers.first.user.persons.ava.photo}} class="rounded-circle my-auto" style="width: 40px; height: 40px;" alt="">
                    </div>

                     <div class="col-3">
                     {{dlg.listOfMembers.first.user.first_name}} {{dlg.listOfMembers.first.user.last_name}}
                      </div>
                     {%endif%}
                    {%else%}

                    <div class="col-1">
                        <img src={{MEDIA_URL}}{{dlg.dialogPfoto.photo}} class="rounded-circle my-auto" style="width: 40px; height: 40px;" alt="">
                    </div>

                     <div class="col-3">
                     {{dlg.listOfMembers.dialogname}}
                      </div>
                     {%endif%}

                </div>

            </div>

        </a>
        {% endfor %}
        </div>

        <div class="row"  style="background-color:white">
        </div>
     

    </div>



{% endblock %}