{% extends "JPT/layout.html" %}

{% block content %}

<div class="row">

    <div class="col-8 offset-2 position-relative" style="background-color:white">

   <div class="input-group">
      {% csrf_token %}
    <input type="text" class="form-control rounded-3" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" id="find">
     </div>

        <div id="resultSearch">
        {% for friend in friendsList %}
            {% if friend.pk != user.pk %}
        <div class="row"  style="background-color:white">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-1">
                        <img src={{MEDIA_URL}}{{friend.persons.ava.photo}} class="rounded-circle mt-2" style="width: 40px; height: 40px;" alt="">
                    </div>

                    <div class="col-3">
                        {{friend.first_name}} {{friend.last_name}}
                          <a href="/guest/{{friend.pk}}/{{Status}}" type="button" class="btn btn-link">Link</a>
                    </div>


                </div>

            </div>
            </div>
        
            {% endif %}
        {% endfor %}
       
        
        {% for friend in potentialFriendList %}

        {% if friend.pk != user.pk %}
        <div class="row"  style="background-color:white">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-1">
                        <img src={{MEDIA_URL}}{{friend.persons.ava.photo}} class="rounded-circle mt-2" style="width: 40px; height: 40px;" alt="">
                    </div>

                    <div class="col-5">
                        {{friend.first_name}} {{friend.last_name}}
                        <div class="row">
                             <form action="" method="POST" enctype="multipart/form-data">
        
                             {% csrf_token %}

                            <div class="col-4">
                          <a href="/guest/{{friend.pk}}/{{Status}}" type="button" class="btn btn-link">Link</a>
                                </div>

                             <div class="col-2">
                        <button class="btn btn-primary" name="Add" value={{friend.pk}}>Add</button>
                                 </div>

                             <div class="col-2">
                        <button class="btn btn-primary" name="Skip" value={{friend.pk}}>Skip</button>
                            </div>

                            </form>
                            </div>
                     
                    </div>



                </div>

            </div>

        </div>
        {% endif %}

        {% endfor %}
         </div>

        <div class="row"  style="background-color:white">
        </div>
     

    </div>

</div>

<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

  
    $("#find").change(function (event) {
          event.preventDefault();
        var search = $(this).val();

            $.ajax({

                headers:{
                 "X-CSRFToken": csrftoken
                },

	            url: '/friends',
	            method: 'post',
	            dataType: 'html',
	            data: {find: search },
                success: function (data) {
                  $("#resultSearch").html(data)
                   
                }
        
          });



    });

 </script>



{% endblock %}