{% extends "JPT/layout.html" %}

{% block content %}
<div class="row shadow-sm rounded-3" style="background-color:white">
<h1>{{persons.first_name}} {{persons.second_name}}</h1>
</div>
 
<div class="row m-2" style="height:20rem">


<div class="col-3">

<div class="card border-0 h-100 rounded-3 p-2 shadow-sm" style="background-color:white">
    <img src="{{MEDIA_URL}}/{{persons.photo}}" class="card-img-top h-100 rounded-3 shadow-sm"  alt="">

  <div class="card-body">

      <form action="" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
        <label class="btn btn-primary" for="ava">add photo</label>
       {{form}}
        
      </form>

  </div>

</div>

</div>


<div class="col-9 rounded-3 shadow-sm " style="background-color:white">

 <div class="col-8 offset-3">
    <h2>Information</h2>
    </div>
 
 <div class="col-12">
    <p class="text-start fs-4">date-of-appearence</p>
     <p class="text-start fs-4">{{persons.date_of_appearence}}</p> 
    </div>
 
<div class="col-12">
    <p class="text-start fs-4">Size</p>
    <p class="text-start fs-4">{{persons.size}}</p>
    </div>

</div>


</div>

<div class="row m-2">
  <div class="col-9 offset-3 shadow-sm rounded-3" style="background-color:white;height:15rem">
      <p>Posts</p>

  </div>

</div>

{% endblock %}