{% extends "JPT/layout.html" %}

{% block content %}

<h1 class="border-bottom border-secondary border-1">NickName</h1>

<div class="row container-fluid border-bottom border-secondary border-1" style="height:20rem">

<div class="col-3 border-end border-secondary border-1">

<div class="card border-0 h-100" style="background-color:whitesmoke">

    <img src="..." class="card-img-top rounded-3 h-100" style="background-color:dimgray" alt="">

  <div class="card-body">
    <a href="#" class="btn btn-primary">Add photo</a>
  </div>

</div>

</div>

<div class="col-9 border-1 ">

 <div class="col-8 offset-3">
    <h2>Information</h2>
    </div>
 
 <div class="col-12">
    <p class="text-start fs-4">date-of-appearence</p>
    </div>
 
<div class="col-12">
    <p class="text-start fs-4">Size</p>
    </div>

</div>

</div>

{% endblock %}