  {% for friend in friendsList  %}
        {% if friend.pk != user.pk %}
        <div class="row"  style="background-color:white">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-1">
                        <img src={{MEDIA_URL}}{{friend.persons.ava.photo}}  class="rounded-circle mt-2" style="width: 40px; height: 40px;" alt="">
                    </div>

                    <div class="col-3">
                         {{friend.first_name}} {{friend.last_name}}
                        <button type="button" class="btn btn-link">Link</button>
                    </div>


                </div>

            </div>

        </div>
        {% endif %}
        {% endfor %}